<h1><%=@post.id%>번째 POST</h1>
<h2>제목: <%= @post.title %></h2>
<p>내용: <%= @post.content %></p>

<h3><a href="/posts/edit/<%= @post.id %>">[수정]</a></h3>
<h3><a href="/posts/destroy/<%= @post.id %>" data-method="post" data-confirm="정말로 삭제하시겠습니까?">[삭제]</a></h3>
<h3><a href="/">[목록]</a></h3>

<hr>
<h3>댓글입니다.</h3>

<form action="/comments/create/<%= @post.id %>" method="post">

    <input type="text" name="comment">
    <input type="submit" value="댓글작성">
</form>

<% @post.comments.each do |r| %>
    <p>
        <%= r.id %>,<%= r.content %> 
        <a href="/posts/show/<%=@post.id%>/destroy/<%=r.id%>" data-method ="post" data-confirm="정말로 삭제하시겠습니까?">
            [x]
        </a>
    </p>
<% end %>